{% macro link (url, text) -%}
  <a style="font-size: 11px; color: #9e9e9e; text-decoration: none;" href="{{url}}">{{text}}</a>
{%- endmacro %}
<html>
  <head>
    <title>{{ mail.subject }}</title>

    <style type="text/css" rel="stylesheet">
      #emailHeader,
      #emailBody {
        padding: 20px 0px;
      }
      h1,
      h2,
      p {
        font-family: Georgia;
        color: #1e1e1e;
      }
      h1 {
        font-size: 24px;
        text-align: left;
      }
      h2 {
        font-size: 48px;
        text-align: center;
      }
      p {
        font-size: 18px;
        text-align: left;
      }

      a:hover {
        text-decoration: underline !important;
      }
    </style>
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" height="" width="100%" id="bodyTable">
      <tr>
        <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                  <tr>
                    <!-- START: Header -->
                    <td align="center" valign="top">
                      <img src="http://lootjes-trekker.corverdevelopment.nl/assets/lootjes.jpg">
                    </td>
                    <!-- END: Header -->
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailBody">
                  <tr>
                    <!-- START: Content -->
                    <td align="center" valign="top">

                      <h1>Hallo Sint {{ to[1] }},</h1>

                      <p>
                        De Lootjes Trekker heeft voor jou een lootje getrokken
                        en hier staat op:
                      </p>

                      <h2>{{ ticket.to[1] }}!</h2>

                      <p>
                        Groetjes van de Stoomboot
                      </p>

                    </td>
                    <!-- END: Content -->
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="center" valign="top">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailFooter">
                  <tr>
                    <!-- START: Footer -->
                    <td align="center" valign="top">

                      <p style="font-size: 11px; color: #9e9e9e;">
                        Dit is een automatische lootjes-trekking, zonder dat je er later spam van
                        zult krijgen! Voor de geïntresseerde, de source-code is te bekijken op:
                        {{ link("https://bitbucket.org/corverdevelopment/lootjes-trekker", "lootjes-trekker") }}.
                      </p>

                      <p style="font-size: 11px; color: #9e9e9e;">
                        Design: {{ link("http://www.nienkevallentgoed.nl/", "Studio Vallentgoed") }}
                        <br />
                        CoDe: {{ link("http://www.corverdevelopment.nl/", "Corver Development") }}
                      </p>

                    </td>
                    <!-- END: Footer -->
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>